/* Colors:
#f6eddb - white
#ec8d75 - mango
#bd5b64 - rose
#9e2281 - hot pink
#40265c - purple
#1b1e23 - black
#244584 - dark blue
#50a9cf - light blue
#96e6c2 - turqoise */

/* universal selector styles */
body {
    background-color: #1b1e23;
}

h1 {
    font-family: 'Yesteryear', cursive;
    padding-top: 10px;
    text-align: center;
    color: #9e2281;
    /* text-shadow: 2px 2px #50a9cf; */
    text-shadow: 2px 1px #50a9cf;
}

button {
    font-family: 'VT323', monospace;
    font-size: 48px;
    background-color: #1b1e23; 
    padding: 18px;
    border: none;
    color: #f6eddb;
    transition: all 0.1s;
}

button:hover {
    transform:scale(1.1);
    background-color: #96e6c2;
    color: #1b1e23; 
}

button:active {
    background-color: #96e6c2;
    box-shadow: 0px 0px 30px 0px #50a9cf;
}



/* container styles */

.app-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.calculator-stroke {
    width: 425px;
    height: 625px;
    border: 3px solid #9e2281;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px #40265c;
}

/* calculator body */

.calculator-mainbody {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ec8d75;
    /*box-shadow: 0px 0px 5px 0px #ec8d75; */
}

/* display */

.display-background {
    width: 390px;
    height: 70px;
    display: flex;
    background-color: #1b1e23;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #50a9cf;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #50a9cf;
}

.display-numbers {
    font-family: 'VT323', monospace;
    color: #f6eddb;
    font-size: 48px;    
    padding-right: 5px;
}

/* buttons specific styling */

.buttons-container {
    width: 390px;
    height: 500px;

}
.container-row {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 40px;
}

.op-btn {
    border: 1px solid #bd4b64;
}

.num-btn {
    border: 1px solid #244584;
}

/* even more specific styling for odd buttons */
.eq-btn {
    border: 1px solid #9e2281;
    padding-right: 67px;
    padding-left: 68px;

}

.power-fnc {
    padding-left: 12px;
    padding-right: 7px;
    padding-bottom: 7px;

}

.backspace-fnc {
    padding-left: 8px;
    padding-right: 9px;
}

.button-click {
    transform:scale(1.1);
    background-color: #96e6c2;
    color: #1b1e23; 
    box-shadow: 0px 0px 30px 0px #50a9cf;
}